<div id='post_content'>
  <h1 class='title'><%= @question.option1 %></h1>
  <h1 class='title'><%= @question.option2 %></h1>

  <p class='date'>
    Submitted <%= time_ago_in_words(@question.created_at) %> Ago
  </p>

  <div id="comments">
    <h2><%= @question.comments.count %> Comments</h2>
    <%= render @question.comments %>

    <h3>Add a comment:</h3>
    <%= render "comments/form" %>
  </div>


</div>
